/*
    parameter
*/
@main-color: #301818;
@base-color: #FFF8F0;
@accent-color: #A05050;
@default-link-color: @accent-color;
@default-link-hover-color: #E08080;
@container-max-width: 960px;
@container-width-padding: 16px;
@header-out-height: 40px;
@header-height-padding: 4px;
@body-height-padding: 8px;
@footer-out-height: 40px;
@footer-height-padding: 4px;

@footer-separator-content: "|";
@footer-separator-color: #FFC0C0;
@footer-separator-margin: 16px;

