/*
    parameter
*/
@main-color: #301818;
@base-color: #FFF8F0;
@accen-colort: #A05050;
@container-max-width: 960px;
@container-width-padding: 16px;
@header-out-height: 40px;
@header-height-padding: 4px;
@footer-out-height: 40px;
@footer-height-padding: 4px;
