/*
    overview layout
*/
body
{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
header,
#body,
footer
{
    width: 100vw;
    white-space: nowrap;
}
.container
{
    margin: 0 auto;
    padding: 0px 16px;
    max-width: @container-max-width;
}
header
{
    height: 32px;
    line-height: 32px;
    padding-top: 4px;
    padding-bottom: 4px;
}
#body
{
    margin: calc(-(4px + 32px + 4px)) auto -40px auto;
    min-height: 100vh;
    .container
    {
        padding-top: 48px;
        padding-bottom: 48px;
    }
}
footer
{
    margin-top: -40px;
    padding-top: 4px;
    padding-bottom: 4px;
    height: 32px;
    line-height: 32px;
}

/*
    global theme
*/
body
{
    color: @main-color;
    background-color: @base-color;
    font-size: 14pt;
    font-family: "Meiryo UI";
}
a
{
    color: #A05050;
}
a:hover
{
    color: #E08080;
}
ul
{
    margin: 0px 8px;
    padding: 0px;
    list-style-position: inside;
}

/*
    header
*/
header
{
    color: @base-color;
    background-color: @main-color;
    font-size: 18pt;
}

/*
    body
*/

/*
    footer
*/
footer
{
    color: #804040;
    background-color: #FEEEDE;
    font-size: 12pt;
    ul
    {
        display: block;
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        li
        {
            display: inline;
        }
        li:not(:first-child)::before
        {
            content: "|";
            color: #FFC0C0;
            margin-left: 16px;
            margin-right: 16px;
        }
    }
    a
    {
        color: #C06060;
        text-decoration: none;
    }
    a:hover
    {
        text-decoration: underline;
    }
}
